---
import MusicPlayer from '../components/MusicPlayer/MusicPlayer'; // asume que es MusicPlayer.jsx
import QueuerFetcher from '../components/QueueList/List'
import Searcher from '../components/Searcher/Searcher'
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reproductor de Música</title>
  </head>
  <body>
    <Searcher client:load />
    <MusicPlayer client:load />
    <QueuerFetcher client:load />
  </body>
</html>